@font-face { font-family: Furore; src: url('../media/FONTS/Furore/Furore.otf'); } 
html, body {
    background: #140018;
    margin: 0;
    padding: 0;
}
section {
    padding: 5rem 0;
}
h1, h2, h3, h4, h5, h6{
    color: white;
    font-family: Furore;
}
p{
    color: white;
    font-family: Furore;
}
i{
    color: white;
    font-family: Furore;
}
a{
    color: white !important;
    font-family: Furore;
}
label{
    color: white;
    font-family: Furore;
}
li{
    color: white;
    font-family: Furore;
}
nav ul li {
    justify-self: center;
}
nav ul li {
    padding: 1rem;
}
nav ul li a {
    padding: 1rem;
}
.logo{
    width: 40rem;
}
.title{
    font-size: 10rem;
}
#welcome{
    height: calc(100vh - 1.5rem);
    position: relative;
}
#welcome h1{
    height: 50%;
    padding-left: 10rem;
}
#welcome img{
    position: absolute;
    right: 10rem;
    top: 30rem;
}
#welcome #start {
    height: 50%;
    display: flex;
    justify-content: end;
    flex-direction: column;
}
#welcome #start h2 {
    align-self: center;
    padding-bottom: 2rem;
}
#welcome a {
    align-self: center;
    padding-bottom: 2rem;
}
#welcome a i {
    font-size: 3rem;
}
#about{
   
}
#games{
    
}
#news{
    
}
#media{
    
}
#news_element{
    display: flex;
    height: 30rem;
    width: 100%;
    margin-bottom: 2rem;
    position: relative;
}
#news_element img{
    height: 100%;
    object-fit: cover;
    width: 60%;
    position: absolute;
}
#news_element #news_text{
    margin: 0rem 2rem 0rem 2rem;
    position: absolute;
    width: 50%;
    left: 0;
    height: 100%;
}
#games {
    display: flex;
    justify-content: space-around;
    margin-bottom: 4rem;
}
#game_card {
    width: 25rem;
    height: 30rem;
    position: relative;
}
#game_card h2,
.member h2 {
    position: absolute;
    bottom: -1rem;
    display: none;
}
#game_card:hover h2,
.member:hover h2 {
    display: block;
    bottom: 0;
    width: 100%;
    text-align: center;
    background: rgb(0,0,0);
    background: linear-gradient(0deg, rgba(0,0,0,0.5046393557422969) 75%, rgba(0,212,255,0) 100%);
    padding: 5rem 0rem 1rem 0rem;
}

#game_card a img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
label{
    color: white;
}
label a {
    color: white !important;
}
#faq_list {
    margin-bottom: 3rem;
}
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: hidden; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border-radius: 2rem;
    width: 50%;
  }
  
  /* The Close Button */
  .close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  .close:hover {
      color: white;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
  .login_input_box,
  .register_input_box {
    position: relative;
  }
  .register_input_box {
      margin-bottom: 3rem;
  }
  .register_label {
      left: 0;
  }
  .register_input {
      width: 50%;
  }
  .login_input,
  .register_input {
    border-bottom: white 1px solid;
    background: none;
    color: white;
  }
  .login_label,
  .register_label {
      position: absolute;
      margin: 0 !important;
      top: -20%;
  }
  .login_input:focus ~ label,
  .login_input:valid ~ label,
  .register_input:focus ~ label,
  .register_input:valid ~ label
  {
      top: -100%;
  }
  input:focus {
    outline: none;
  }
  .news_slider {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
    height: 30rem;
  }
  .news_element {
      background: url("../media/mountain.jpg");
      background-size: cover;
      width: 30%;
      border-radius: 10%;
      position: relative;
      overflow: hidden;

  }
  .news_text {
    position: absolute;
    bottom: -26%;
    width: 100%;
    padding: 7%;
  }
  .news_title {
    font-size: 3rem;
    margin-bottom: 1%;
  }
  .news_time {
    position: absolute;
    top: 0%;
    right: -25%;
    padding: 2% 10% 2% 5%;
  }
  .news_element:hover .news_text {
        display: block;
        bottom: 0;
        width: 100%;
        background: rgb(0,0,0);
        background: linear-gradient(0deg, rgba(0,0,0,0.5046393557422969) 75%, rgba(0,212,255,0) 100%);
}
.news_element:hover .news_time {
  right: -1%;
  background: rgb(0,0,0);
        background: linear-gradient(-90deg, rgba(0,0,0,0.5046393557422969) 75%, rgba(0,212,255,0) 100%);
}

  .player_info {
      width: 65%;
      margin-top: 3rem;
  }
  .player_info h1 {
    font-size: 5rem;
    margin-bottom: 2rem;
  }
  .player_info p {
    font-size: 2rem;
  }
  .player_img {
      width: 30%;
      margin-left: 5%;
  }
  .player_img img {
      height: 80%;
  }


.faq_header {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgb(105, 105, 105);
    font-size: 1.5rem;
}
.faq_footer.inactive {
    max-height: 0;
    overflow: hidden;
    opacity: 0;
}
 .faq_footer.active {
     max-height: 100%;
     overflow: auto;
     opacity: 1;
     padding-bottom: 1rem;
     padding-top: 0.5rem;
 }


 .timeline_list li{
     background: aliceblue;
     width: 6px;
     margin: 0 auto;
     list-style: none;
     position: relative;
 }
 .timeline_list li:after {
    content: "";
    position: absolute;
    width: 30px;
    height: 30px;
    background: inherit;
    left: 50%;
    border-radius: 50%;
    transform: translateX(-50%);
    z-index: 1;
    bottom: 0;
}
 .timeline_element {
    position: relative;
    bottom: 0;
    width: 400px;
    padding: 15px;
    background: #f45b69;
 }
 .timeline_element:before {
    content: "";
    position: absolute;
    bottom: 7px;
    width: 0;
    height: 0;
    border-style: solid;
 }
 .timeline_list li:nth-child(odd) div {
    left: 45px;
  }
  .timeline_list li:nth-child(odd) div:before {
    left: -15px;
    border-width: 8px 16px 8px 0;
    border-color: transparent #f45b69 transparent transparent;
  }
  .timeline_list li:nth-child(even) div {
    left: -439px;
  }
  .timeline_list li:nth-child(even) div:before {
    right: -15px;
    border-width: 8px 0 8px 16px;
    border-color: transparent transparent transparent #f45b69;
  }

  


  .timeline_list li:after {
    transition: background 0.5s ease-in-out;
  }
  
  .timeline_list li.in-view:after {
    background: #f45b69;
  }
  
  .timeline_list li div {
    visibility: hidden;
    opacity: 0;
    transition: all 0.5s ease-in-out;
  }
  
  .timeline_list li:nth-child(odd) div {
    transform: translate3d(200px, 0, 0);
  }
  
  .timeline_list li:nth-child(even) div {
    transform: translate3d(-200px, 0, 0);
  }
  
  .timeline_list li.in-view div {
    transform: none;
    visibility: visible;
    opacity: 1;
  }

  .timeline-clippy li::after {
    width: 40px;
    height: 40px;
    border-radius: 0;
  }
  
  .timeline-rhombus li::after {
    clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
  }
  
  .timeline-rhombus li div::before {
    bottom: 12px;
  }
  
  .timeline-star li::after {
    clip-path: polygon(
      50% 0%,
      61% 35%,
      98% 35%,
      68% 57%,
      79% 91%,
      50% 70%,
      21% 91%,
      32% 57%,
      2% 35%,
      39% 35%
    );
  }
  
  .timeline-heptagon li::after {
    clip-path: polygon(
      50% 0%,
      90% 20%,
      100% 60%,
      75% 100%,
      25% 100%,
      0% 60%,
      10% 20%
    );
  }
  
  .timeline-infinite li::after {
    animation: scaleAnimation 2s infinite;
  }
  
  @keyframes scaleAnimation {
    0% {
      transform: translateX(-50%) scale(1);
    }
    50% {
      transform: translateX(-50%) scale(1.25);
    }
    100% {
      transform: translateX(-50%) scale(1);
    }
  }
  
body.preloader-site {
    overflow: hidden;
}
.preloader_wrapper {
    height: 100vh;
    width: 100vw;
    background: black;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999999;
}
.preloader {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 120px;
}
